.editor {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 28em;
    width: 52em;
    background-color: #6BD1FF;
    border-radius: 12px;
    padding: 15px;
}

.editor-texto {
    display: flex;
    justify-content: baseline;
    position: absolute;
    background-color: var(--preto);
    color: var(--fonte-branco);
    font-family: var(--fonte-editor);
    border-radius: 12px;
    padding: 45px 20px 20px;
}

.editor-botoes-mac {
    position: absolute;
    top: 55px;
    left: 62px;
}

.editor-botao {
    background-color: var(--cor-de-fundo-botao);
    color: var(--fonte-branco);
    font-size: 16px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    padding: 15px;
}