.editor {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: ;
    height: 5em;
    width: 10em;
    background-color: #6BD1FF;
    border-radius: 12px;
    padding: 15px;
}

.editor-texto {
    display: flex;
    justify-content: baseline;
    position: ;
    background-color: var(--preto);
    color: var(--fonte-branco);
    font-family: var(--fonte-editor);
    border-radius: 12px;
    padding: 10px 5px 10px;
}

.editor-botoes-mac {
    position: ;
    top: ;
    left: ;
}

.editor-botao {
    background-color: var(--cor-de-fundo-botao);
    color: var(--fonte-branco);
    font-size: 16px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    padding: 15px;
}