.principal {
    width: 100%;
    margin: 10px;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    height: 10px;
    width: 50%;
}

.menu-titulo {
    margin: 10px;
}

.menu-editor {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.menu-editor-img {
    margin-right: 8px;
}

.menu-comunidade {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.menu-comunidade-img {
    margin-right: 8px;
}